<div class="article" id="<%= dom_id article %>">
  <p class="head">
    <%= article.title %>
  </p>
  
  <div class="content">
    <%= article.content  %>
  </div>

  
  <div  class="content">
    <i class="fa-solid fa-user"></i>
    <%=link_to article.user.name, user_path(article.user),
       :class => "userLink lefter"%>
  </div>
  
  <div  class="content">
    <strong>Posted:</strong>
      <%=((Time.current - article.created_at)/1.minute).round %>
    <span>minutes ago</span>
  </div>
 
</div>
