<h1>Sign up</h1>

<%= form_with model: @user , data: { turbo: false } ,url: sign_up_path do|form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.each do |error| %>
        <div>
          <%= error.full_message%>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="mb-3">
  <%= form.label :name , :class=>"form-label"%>
  <%= form.text_field :name ,:class=>"form-control", :placeholder=>"name"%>
  </div>
  
  <div class="mb-3">
  <%= form.label :userName , :class=>"form-label"%>
  <%= form.text_field :userName ,:class=>"form-control", :placeholder=>"userName"%>
  </div>
  
  <div class="mb-3">
  <%= form.label :password , :class=>"form-label"%>
  <%= form.password_field :password ,:class=>"form-control", :placeholder=>"password"%>
  </div>
  
  <div class="mb-3">
  <%= form.label :password_confirmation , :class=>"form-label"%>
  <%= form.password_field :password_confirmation ,:class=>"form-control", :placeholder=>"password"%>
  </div>
  
  <div class="mb-3">
      <%= form.submit "Sign Up" ,  :class=>"btn btn-primary"%>
  </div>
<% end %>